body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    padding: 25px 150px !important;
    color: #fff;
}

.cart {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.cart-left {
    background: white;
    padding: 20px;
    height: 550px;
    width: 1200px;
}

.cart-left h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.cart-left hr {
    border: none;
    height: 1px;
    background: #dadada;
}

.product-cart-list {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}

.product-cart-titleprice {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.product-cart-bestseller {
    font-size: 12px;
    margin-top: 10px;
}

.product-cart-bestseller span {
    font-size: 13px;
    background: #c45500;
    color: #fff;
    padding: 3px 8px;
}

.product-cart-stock {
    font-size: 12px;
    color: #007600;
    margin: 4px 0;
}

.product-cart-delievry {
    font-size: 15px;
}

.product-cart-returns {
    font-size: 15px;
    color: #007185;
    font-weight: 400;
}

.product-cart-giftoptions {
    color: #494949;
    font-size: 13px;
    margin: 3px 0;
}

.product-cart-giftoptions span {
    color: #007185;
}

.product-cart-specs {
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0;
}

.cart-list-action {
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
}

.cart-list-action hr {
    height: 20px;
    width: 1px;
    background: #cfcfcf;
}

.cart-list-action select {
    padding: 5px;
    border-radius: 6px;
    background: #f3f3f3;
}

.cart-list-subtotal {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.fa-solid.fa-square-check {
    color: green;
}

.cart-right {
    background: white;
    padding: 20px;
    height: 340px;
    width: 300px;
}

.cart-free-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.delivery-int {
    color: #007185;
}

.cart-subtotal {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500px;
}

.cart-right-gift {
    margin: 7px 0;
    font-size: 14px;
}

.cart-right button {
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-right button:hover {
    background: #ebc712;
}

.footer-cart {
    margin-top: auto;
}


.mobile-user-icon {
    display: none;
}

.action-btn {
    cursor: pointer;
}

.empty-cart-message {
    text-align: center;
    margin-top: 20px;
}

.empty-cart-message img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.delivery-container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    flex: 1;
    text-align: left;
}

.middle-section {
    flex: 2;
    text-align: center;
}

.right-section {
    flex: 1;
    text-align: right;
}

.delivery-address {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.address-details {
    margin-left: 20px;
}

.pick-up {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pick-up img {
    margin-left: 20px;
    /* Adjust this value as needed */
}

.pick-up p {
    margin-left: 10px;
    /* Adjust this value as needed */
}

.order-sumh {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 20px;
}

.order-total p {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500px;
}

.order-one {
    color: #B12704 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500px;
}

.order-sum {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 10px;
}

.order-sump {
    display: flex;
    justify-content: flex-end;
}

.order-sump1 {
    display: flex;
    justify-content: flex-end;
}

.order-totals {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.order-totals p {
    margin-top: 10px;
}

.delivery-cost {
    background: #F0F2F2;
    font-size: 15px;
    padding: 20px;
}

.right2culm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.delivery-cost h1 {
    font-size: 13px;
    line-height: 1.2rem;
    font-weight: 200;
}

.payment-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-left: 30px;
    width: 1000px;
}

.leftsec {
    margin-top: 20px;
    margin-bottom: 60px;
}

.payment-box b {
    font-size: 23px;
}

.cc-dc {
    margin-bottom: 10px;
}

.accepted-cards {
    margin-top: 20px;
}

.accepted-cards h3 {
    display: inline;
    margin-left: 20px;
    /* Optional: Adds space between text and images */
    font-size: 15px;
    font-weight: 400;
}

.accepted-cards h3 span {
    color: #007185;
    cursor: pointer;
}

.accepted-cards2 {
    margin-top: 20px;
    display: none;
}

.accepted-cards2 button {
    width: 50px;
    height: 30px;
    background: #F0F2F2;
    border: none;
    border-radius: 8px;
    float: right;
    cursor: pointer;
}


.accepted-cards2 button:hover {
    background: #c9c8c3;
}

.accepted-cards2 input {
    margin-left: 15px;
}

.accepted-cards2 h3 {
    display: inline;
    margin-left: 20px;
    /* Optional: Adds space between text and images */
    font-size: 15px;
    font-weight: 400;
}

.accepted-cards2 h3 span {
    color: #007185;
    cursor: pointer;
}

.accepted-cards img {
    display: inline-block;
    vertical-align: middle;
    /* Aligns images vertically with the text */
    margin-left: 10px;
}

.accepted-cards2 img {
    display: inline-block;
    vertical-align: middle;
    /* Aligns images vertically with the text */
    margin-left: 10px;
}


/* Add this to your existing CSS or create a new CSS file and link it in your HTML */

/* Modal Styles */
/* Center the loading spinner and apply a semi-transparent background color */
#loadingSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Ensure the spinner appears above other elements */
    background-color: rgba(255, 255, 255, 0.2);
    /* White with 20% opacity */
    display: none;
}

/* Center the loading spinner image */
#loadingSpinner img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 840px;
    position: relative;
    display: flex;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.right2culm2 {
    display: flex;
    flex-direction: column;
}

.right-form {
    width: 300px;
    margin-left: 20px;
}

.right-form p {
    font-size: 16px;
    font-weight: 500px;
}

.left-from {
    width: 100%;
    max-width: 400px;
    /* Adjust as needed */
    margin: 0 auto;
    margin-right: 50px;

}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-row-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}

.form-row-left div label {
    font-size: 16px;
    font-weight: 900;
}

.form-row-left div span {
    margin-top: 5px;
}

.cardName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-row-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row-right input {
    padding: 5px;
}

.securityCode {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.securityCode p {
    display: flex;
    align-items: center;
}

.default-payment {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
}

.form-row-right select {
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 8px;
    box-shadow: 1px solid #494949;
}

.delivery-cost1 {
    background: #F0F2F2;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    max-width: 840px;
    position: relative;
    margin: auto;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.delivery-cost2 {
    background: #F0F2F2;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    max-width: 840px;
    position: relative;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.delivery-cost2 button:hover {
    background: #ebc712;
}

.delivery-cost2 .btn:hover {
    background: #c9c8c3;
}

.delivery-cost2 div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.delivery-cost2 button {
    width: 120px;
    height: 30px;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delivery-cost2 .btn {
    width: 80px;
    height: 30px;
    background: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cards img {
    border-radius: 5px;
    height: 35px;
    /* Adjust the height of the cards */
    width: 50px;
    /* Adjust the width of the cards */
}

.cards1 {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    /* Adjust the gap between cards */
}

.card {
    border: 1px solid #ccc;
    background: #f0f2f2;
    border-radius: 5px;
    height: 35px;
    /* Adjust the height of the cards */
    width: 50px;
    /* Adjust the width of the cards */
    display: flex;
    justify-content: center;
    /* Center the image horizontally within the card */
    align-items: center;
    /* Center the image vertically within the card */
}

.card img {
    max-width: 35px;
    height: auto;
}




/* ----------- media queries -------- */

@media only screen and (max-width: 900px) {
    .cart {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .product-cart-list {
        padding: 24px 0;
    }

    .product-cart-list img {
        width: 80px;
    }

    .product-cart-titleprice {
        flex-wrap: wrap;
        font-size: 14px;
    }

    .product-cart-delievry {
        font-size: 13px;
    }

    .cart-list-action .action-btn:nth-last-child(1) {
        display: none;
    }

    .cart-list-action hr:nth-last-child(2) {
        display: none;
    }

    .cart-list-action .action-btn:nth-last-child(3) {
        display: none;
    }

    .cart-list-action hr:nth-last-child(4) {
        display: none;
    }

    .cart-right {
        min-width: 100%;
    }
}